<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Commons</title>
</head>
<body>
<!-- navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mr-4" th:href="@{cities}">gumtree-scrapper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navbar-items" class="navbar-nav mr-auto">
                <li th:class="${activeTab == 'Cities'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{cities}">Cities</a>
                </li>
                <li th:class="${activeTab == 'Send report'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{reports}">Send report</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<link th:fragment="bootstrap-css"
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
/>
<link th:fragment="font-awesome"
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link th:fragment="gumtree"
      rel="stylesheet"
      th:href="@{/static/css/gumtree.css}"/>

<link th:fragment="error"
      rel="stylesheet"
      th:href="@{/static/css/error.css}"/>

<th:block th:fragment="bootstrap-scripts">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</th:block>

<th:block th:fragment="gumtree-scripts">
    <script type="text/javascript"
            th:src="@{/static/js/pageable.js}"></script>
</th:block>

<script th:fragment="gumtree-scripts"
        th:inline="javascript">
        /*<![CDATA[*/
        function onLoad(event) {
            document.getElementById("navbar-items")
                .classList
                .remove("className");
        }
        /*]]>*/
    </script>

</body>
</html>
