<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap-css"/>
    <link th:replace="commons :: font-awesome"/>
</head>
<body>
<nav th:replace="commons :: navbar"></nav>

<div class="container">

    <form class="py-4" method="post" th:action="@{reports}" th:object="${emailMapping}">
        <div class="btn-toolbar" role="toolbar" aria-label="Send report">
            <div class="input-group px-2">
                <input type="text" class="form-control" placeholder="city"
                       aria-describedby="sizing-addon2"
                       onfocus="this.removeAttribute('readonly');"
                       readonly="readonly"
                       th:field="*{city}"/>
            </div>
            <div class="input-group px-2">
                <input type="text" class="form-control" placeholder="email"
                       aria-describedby="sizing-addon2"
                       onfocus="this.removeAttribute('readonly');"
                       readonly="readonly"
                       th:field="*{email}"/>
            </div>
            <div class="btn-group px-2" role="group" aria-label="First group">
                <button type="submit" class="btn btn-secondary">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="commons :: bootstrap-scripts"/>
</body>
</html>
