<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title>Shared</title>
</head>
<body>
    <!-- navbar -->
    <th:block th:fragment="navbar">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body">
            </div>
        </div>

        <header class="site-navbar py-3" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0">
                            <a href="https://jvmops.com" class="text-white h2 mb-0">jvm<span class="text-primary">ops</span></a>
                        </h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li sec:authorize="isAuthenticated()">
                                    <a th:href="@{/logout}" href="logout">Log out</a>
                                </li>
                                <li>
                                    <a th:href="@{https://github.com/jvmops/gumtree-scrapper}" target="_blank" href="https://github.com/jvmops/gumtree-scrapper">Github</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" th:classappend="${#request.requestURI.equals('/cities') ? 'active':''}">
                                    <a th:href="@{/subscriptions}" href="subscriptions.html">Subscriptions</a>
                                </li>
                                <li th:classappend="${#request.requestURI.equals('/notifications') ? 'active':''}" class="cta">
                                    <a th:href="@{/}" href="notifications.html">Notifications</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
            </div>
        </header>
    </th:block>

    <th:block th:fragment="footer">
        <footer class="site-footer">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4 mb-5">
                        <h2 class="footer-heading text-uppercase mb-4">Apartments app</h2>
                        This is a web crawler that is scrapping popular polish real estate portal. Scrapped ads are filtered from duplicates
                        and organized. Report with interesting findings is distributed to the concerned parties via a daily email.
                    </div>
                    <div class="col-md-3 ml-auto mb-5">
                        <h2 class="footer-heading text-uppercase mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a th:href="@{/}">Notifications</a></li>
                            <li class="mb-4"><a th:href="@{login}">Login</a></li>
                            <li><a th:href="@{https://github.com/jvmops/gumtree-scrapper}" target="_blank">Github</a></li>
                            <li><a th:href="@{https://jvmops.com}" target="_blank">Homepage</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{subscriptions}">Subscriptions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h2 class="footer-heading text-uppercase mb-4">Follow me at</h2>
                        <p>
<!--                            <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>-->
<!--                            <a href="#" class="p-2"><span class="icon-twitter"></span></a>-->
<!--                            <a href="#" class="p-2"><span class="icon-youtube"></span></a>-->
                            <a href="https://github.com/jvmops" target="_blank" class="p-2"><span class="icon-github"></span></a>
                        </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 text-center">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </th:block>

    <th:block th:fragment="city-email-form-group">
        <div class="row form-group">
            <div class="dropdown">
                <div class="col-auto my-1">
                    <select required name="city" class="custom-select mr-sm-2"  >
                        <option value="">Select city</option>
                        <option th:each="city:${cities}"
                                th:value="${city}"
                                th:text="${city}"
                                th:selected="${city eq selectedCity}"></option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <input id="email" type="email" class="form-control" placeholder="email"
                       aria-describedby="sizing-addon2"
                       required
                       onfocus="this.removeAttribute('readonly');"
                       th:field="*{email}">
                <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="stylesheets">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
        <link rel="stylesheet" href="static/fonts/icomoon/style.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">
        <link rel="stylesheet" href="static/css/jquery-ui.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="static/css/aos.css">
        <link rel="stylesheet" href="static/css/style.css">
    </th:block>

    <th:block th:fragment="scripts">
        <script src="static/js/jquery-3.3.1.min.js"></script>
        <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="static/js/jquery-ui.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/jquery.stellar.min.js"></script>
        <script src="static/js/jquery.countdown.min.js"></script>
        <script src="static/js/jquery.magnific-popup.min.js"></script>
        <script src="static/js/bootstrap-datepicker.min.js"></script>
        <script src="static/js/aos.js"></script>
        <script src="static/js/main.js"></script>
    </th:block>

</body>
